body {
    background: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: darkblue;
    text-align: center;
}

.quoteForm {
    background:whitesmoke;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.prompt {
    margin-top: 30px;
    padding-bottom: 50px;
    border-radius: 10px;
    font-size: 28px;
    margin-bottom: 20px;
    width: 500px;
    height: 300px;
    resize: none;
    outline: none;
}

.quoteBy {
    font-size: 20px;
    text-align: center;
}

.updateBtn {
    background-color: darkblue;
    color: whitesmoke;
    cursor: pointer;
    outline: none;
    padding-top: 2px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    height: 50px;
    width: 100px;
    border-radius: 12px;
}

footer {
    text-align: center;
}